:root {
  --primary-color: #4d6163;
  --text-color: #4e5d78;
  --btn-color: #4d6163;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  font-family: "Poppins", sans-serif;
}

.max-width {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-heading {
  font-size: var(--font-size-large);
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  color: var(--primary-color);
}

.heading {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.border {
  border: 1px solid #ddd;
  border-radius: 20px;
  min-height: 200px;
  padding: 20px;
}

/* COMMON PROGRESS BAR STARTS */
.range {
  position: relative;
  background-color: #333;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  font-family: "Orbitron", monospace;
  background-color: #ddd; /* Default background color */
}

.range:before {
  --width: calc(var(--p) * 1%);
  --progress-color: #00c85393; /* Default color, will be overridden */

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color); /* Dynamically set color */
  z-index: 0;
  animation: load 0.5s forwards linear, glitch 2s infinite linear;
}

.range:after {
  counter-reset: progress var(--p);
  content: counter(progress) "%";
  color: #fff;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) skewX(-30deg);
  z-index: 1;
}

.range__label {
  transform: skew(-30deg) translateY(-100%);
  line-height: 1.5;
}

@keyframes load {
  to {
    width: var(--width);
  }
}

@keyframes glitch {
  0%,
  5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3% {
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}

/* EXPENSE FORM STARTS */
.expense-form,
.monthly-summary,
.expense-limit,
.limit-box,
.monthly-summary {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: last baseline;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: var(--btn-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #4d6163b5;
}
/* EXPENSE FORM ENDS */

/* EXPENSE LIMIT STARTS */

.limit-form {
  flex-direction: column;
}

.limit-form .form-group {
  margin-bottom: 0px;
}
.limit-form button {
  margin-top: 10px;
}
/* EXPENSE LIMIT ENDS */

/* CURRENT LIMIT STARTS */
.current-limit-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.current-limit-box {
  /* width: 30%; */
  border: 1px solid var(--primary-color);
  padding: 15px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.current-limit-box span {
  font-size: 20px;
  font-weight: 700;
}
/* CURRENT LIMIT ENDS */

/* PROGRESS LIMIT STARTS */
.progress-limit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.progress-title {
  margin-bottom: 5px;
  color: var(--text-color);
  font-size: 14px;
}
.progress-limit .heading {
  margin-bottom: 0;
}
/* PROGRESS LIMIT ENDS */

/* TABLE STARTS */
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

table td {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table td:hover {
  background-color: #f1f1f1;
}

/* TABLE ENDS */
