:root {
  --primary-color: #4d6163;
  --text-color: #4e5d78;
  --btn-color: #4d6163;
  --border-color: #bdcccd;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  font-family: "Poppins", sans-serif;
}

.max-width {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-heading {
  font-size: var(--font-size-large);
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  color: var(--primary-color);
}

.heading {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.border {
  border: 1px solid #ddd;
  border-radius: 20px;
  min-height: 200px;
  padding: 20px;
}

/* COMMON PROGRESS BAR STARTS */
.range {
  position: relative;
  background-color: #333;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  font-family: "Orbitron", monospace;
  background-color: #ddd; /* Default background color */
}

.range:before {
  --width: calc(var(--p) * 1%);
  --progress-color: #00c85393; /* Default color, will be overridden */

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color); /* Dynamically set color */
  z-index: 0;
  animation: load 0.5s forwards linear, glitch 2s infinite linear;
}

.range:after {
  counter-reset: progress var(--p);
  content: counter(progress) "%";
  color: #fff;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) skewX(-30deg);
  z-index: 1;
}

.range__label {
  transform: skew(-30deg) translateY(-100%);
  line-height: 1.5;
}

@keyframes load {
  to {
    width: var(--width);
  }
}

@keyframes glitch {
  0%,
  10% {
    transform: translate(0, 0);
  }
  3% {
    transform: translate(-2%, -5%);
  }
  6% {
    transform: translate(3%, 5%);
  }
  9% {
    transform: translate(-1%, -2%);
  }
}

/* COMMON PROGRESS BAR ENDS */

/* LOADER STARTS */
/* HTML: <div class="loader"></div> */
.pre-loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  box-sizing: border-box;
  background: 
    radial-gradient(farthest-side,#fff 98%,#0000) 0    0/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 100% 0/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 100% 100%/20px 20px,
    radial-gradient(farthest-side,#fff 98%,#0000) 0 100%/20px 20px,
    linear-gradient(#fff 0 0) 50%/40px 40px,
    #000;
  background-repeat:no-repeat;
  filter: blur(4px) contrast(10);
  animation: l12 0.8s infinite;
}
@keyframes l12 {
  100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}



.loader {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #514b82;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: currentColor;
  box-shadow: -10px 0 12px 3px currentColor;
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%, -30px 50%);
  animation: l14 1s infinite linear;
}
@keyframes l14 {
  100% {
    left: calc(100% + 20px);
  }
}
/* LOADER ENDS */

/* PROGRESS SKELETON STARTS */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 4px;
}

/* Skeleton for Title */
.skeleton-title {
  width: 150px;
  height: 20px;
  margin-bottom: 10px;
}

/* Skeleton for Progress Bar */
.range.skeleton {
  width: 300px;
  height: 30px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* PROGRESS SKELETON ENDS */

/* LIMIT BOX SKELETON STARTS */
/* Skeleton Loader */
.limit-box .skeleton {
  background: #f0f0f0;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.limit-box .skeleton-title {
  background: #e0e0e0;
  height: 20px;
  width: 50%;
  border-radius: 4px;
}

.limit-box .skeleton-value {
  background: #d0d0d0;
  height: 20px;
  width: 30%;
  border-radius: 4px;
}
/* LIMIT BOX SKELETON ENDS */

/* TABLE SKELETON STARTS */
.skeleton-cell {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}
/* TABLE SKELETON ENDS */

/* MODAL STARTS */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* MODAL ENDS */

/* EXPENSE FORM STARTS */
.expense-form,
.monthly-summary,
.expense-limit,
.limit-box,
.monthly-summary {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: last baseline;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: var(--btn-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #4d6163b5;
}
/* EXPENSE FORM ENDS */

/* EXPENSE LIMIT STARTS */
.limit-form {
  flex-direction: column;
}

.limit-form .form-group {
  margin-bottom: 0px;
}
.limit-form button {
  margin-top: 10px;
}
/* EXPENSE LIMIT ENDS */

/* CURRENT LIMIT STARTS */
.current-limit-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.current-limit-box {
  /* width: 30%; */
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.current-limit-box span {
  font-size: 20px;
  font-weight: 700;
}
/* CURRENT LIMIT ENDS */

/* PROGRESS LIMIT STARTS */
.progress-limit {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.progress-title {
  margin-bottom: 5px;
  color: var(--text-color);
  font-size: 14px;
}
.progress-limit .heading {
  margin-bottom: 0;
}
/* PROGRESS LIMIT ENDS */

/* TABLE STARTS */
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

table td {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table td:hover {
  background-color: #f1f1f1;
}

/* TABLE ENDS */
