:root {
  --primary-color: #735d5d;
  --btn-color: #007bff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.max-width {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main-heading {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  color: var(--primary-color);
}

.heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.border {
  border: 1px solid #ddd;
  border-radius: 20px;
  min-height: 200px;
  padding: 20px;
}

/* COMMON PROGRESS BAR STARTS */
.range {
  position: relative;
  background-color: #333;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  font-family: "Orbitron", monospace;

  &:before {
    --width: calc(var(--p) * 1%);

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f3e600;
    z-index: 0;
    animation: load 0.5s forwards linear, glitch 2s infinite linear;
  }

  &:after {
    counter-reset: progress var(--p);
    content: counter(progress) "%";
    color: #000;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  }

  &__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
  }
}

@keyframes load {
  to {
    width: var(--width);
  }
}

@keyframes glitch {
  0%,
  5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3% {
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}
/* COMMON PROGRESS BAR ENDS */

/* EXPENSE FORM STARTS */
.expense-form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.form-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: last baseline;
}
.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: var(--btn-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
/* EXPENSE FORM ENDS */

/* EXPENSE LIMIT STARTS */
.expense-limit {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}
/* EXPENSE LIMIT LIMITS */
